PORT = 3000
MONGO_URI = mongodb+srv://gaurav82189:gaurav82189@cluster0.xshhm.mongodb.net/googleauth?retryWrites=true&w=majority
GOOGLE_CLIENT_ID = 536523612420-bkm78jkar5s0njsotldluufrgfqt1em0.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET = 21biI8YDPucb9pNv-5DC938T